body {
	background-color: #00FFFF;
}

#pic {
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 75px;
	margin-bottom: 75px;
	border-style: ridge;
	border-width: 10px;
	border-color: #673AB7;
	padding: 5px;
	box-shadow: 5px 5px 5px #673AB7
}

h1 {
	text-align: center;
}
